
div.contactable-info span.label
{
    font-size: 0.9em;
    margin-left: 0.3em;
}

div.contactable-edit-info table td
{
    padding-left: 0.5em;
}

div.contactable-edit-info table.addresses tbody tr:last-child td
{
    padding-bottom: 1.5em;
}

