
<div class='contactable-info'>

{% if email_addresses %}
    <h3>Email Addresses</h3>
    <table>
    {% for email_address in email_addresses %}
        <tr><td><a href='mailto:{{ email_address.address }}'>{{ email_address.address }}</a></td>
            <td><span class='label'>{{ email_address.get_label_display }}</span></td></tr>
    {% endfor %}
    </table>
{% endif %}

{% if phone_numbers %}
    <h3>Phone Numbers</h3>
    <table>
    {% for phone_number in phone_numbers %}
        <tr><td>{{ phone_number.number }}</td>
            <td><span class='label'>{{ phone_number.get_label_display }}</span></td></tr>
    {% endfor %}
    </table>
{% endif %}

{% if addresses %}
    <h3>Addresses</h3>
    <table>
    {% for address in addresses %}
        <tr><td>{{ address.street }}</td>
            <td><span class='label'>{{ address.get_label_display }}</span></td></tr>
        <tr><td>{{ address.street2 }}</td>
            <td></td></tr>
        <tr><td>{{ address.city }}, {{ address.state }} {{ address.zip }}</td>
            <td></td></tr>
    {% endfor %}
    </table>
{% endif %}

</div>

